* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: rgb(253, 7, 128);
    background: linear-gradient(90deg, rgba(253, 7, 128, 1) 0%, rgba(253, 153, 114, 1) 61%, rgba(252, 208, 100, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;


}

header {
    text-align: center;
    padding: 20px;
    font-size: 1rem;

}



section {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;

}

#resultado {
   
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    outline: none;
    font-size: 1.7rem;
    color: white;
    background: transparent;
    height: 3.6rem;
    text-align: end;
    max-width: 17rem;
    min-width: 17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 10px;

}

h2 {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.calculadora {
    border: 1px solid rgba(255, 255, 255, 0.541);
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.283);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.375);
    height: 33rem;
    width: 20rem;
    border-radius: 1rem;
}

.btn {
    color: white;
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.3rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.btn:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    background-color: rgba(255, 255, 255, 0.3);

}

footer {
    margin-top: 1rem;
}